.Navigation {
    background-color: #002b80;
    color: white;
}

.Navigation>ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.Navigation>ul>li {
    display: inline;
    padding-left: 10px;
}

.Footer {
    border-top: 6px solid #002b80;
    position: fixed;
    bottom: 0;
}